* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #e8f3f5;
  color: #1c1c1c;
}

/* header */
header {
  background: #116f82 !important;
  padding: 2px 30px;
}

header .nav-link {
  color: rgb(216, 227, 228) !important;
  font-weight: 600;
  font-size: 19px;
  transition: 0.2s;
}

header .nav-link:hover {
  opacity: 0.7;
}

/* area princip. */
.area {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

/* telao */
.telao,
.telao_senha_chamada {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  flex: 1;
  min-width: 280px;
}

/* Tela principal maior */
.telao {
  flex: 2;
}

/* titulos */
.subtitulo_senha,
.senha_chamada {
  background: #c69b22;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* senha da vez*/
.senha_vez {
  background: #148298;
  color: white;
  border-radius: 12px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 58px;
  font-weight: 700;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}

/* lista de senhas */
.lista_senha {
  background: #148298;
  color: white;
  padding: 15px;
  border-radius: 12px;
  list-style: none;
  height: 380px;
  overflow-y: auto;
  font-size: 30px;
}

.lista_senha li {
  margin-bottom: 12px;
}

/* botao iniciar */
.botao_iniciar {
  width: 100%;
  padding: 18px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.botao_iniciar:hover {
  background: #c69b22;
}

/* botoes inferioress */
.botoes {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px;
  flex-wrap: wrap;
}

.botoes button {
  padding: 18px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 250px;
  background: #148298;
  color: white;
  transition: 0.3s;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}

.botao_sp:hover {
  transform: translateY(-6px);
  background: #b34949;
}

.botao_se:hover {
  transform: translateY(-6px);
  background: #98880f;
}

.botao_sg:hover {
  transform: translateY(-6px);
  background: #217424;
}

/* TA RESPONSIVO WIIILLLLLLL */

@media (max-width: 900px) {
  .senha_vez {
    font-size: 40px;
    height: 260px;
  }

  .lista_senha {
    font-size: 24px;
  }

  .subtitulo_senha,
  .senha_chamada {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .area {
    padding: 20px;
  }

  header .nav {
    justify-content: center;
  }
}
